input:-moz-read-only { /* For Firefox */
    background-color: #f2f2f2;
}

input:read-only { 
    background-color: #f2f2f2;
}

#head
{
	text-align: center;
}

#title
{
	display: inline-block;
}

#body
{
	text-align: center;
}

.menu
{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	margin-top: 2px;
	width: 640px;
	background-color: #99ccff;
	display: inline-block;
	
	border-radius: 5px;
}

#select-menu {}

#select-pokemon 
{
	float:left;
}

#select-sprite
{
	display: inline-block;
}

#select-level 
{
	float:right;
}

#table-menu {}

.field-input
{
	width:95%;
}

.ev-title {}

.ev-subtitle
{
	font-size: 8pt;
	color: darkblue;
}

#submit-menu {}

#complexity-label 
{
	float:left;
}

#time-label 
{
	float:right;
}

.select
{
	font-size: 14px;
}

.boosting
{
	background-color: #e6ffe6;
}
.hindering
{
	background-color: #ffe6e6;
}

.neutral
{
	background-color: #ffffff;
}

.minmaxlbl
{
	color: #ff6b6b;
}